* {
    margin: 0;
    padding: 0;
    background-color: #121b24;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
}

header {
    position: fixed;
    display: block;
    height: 100%;
    width: 20%;
}

header img {
    width: 100%;
}

nav {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
}

nav button {
    width: 100%;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    line-height: 40px;
    gap: 20px;
}

nav .Navegar0 {
    color: #4384a7;
}

/* .menu button:hover, .menu .peliculas {
    color: #4384a7;
} */

.menu p {
    color: #ffffff;
    font-size: 15px;
}

#peliculas {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}



/* pelis */
#img2 {
    height: 300px;
    width: 300px;
}

#divGeneral {
    height: 100%;
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#description {
    display: block;
    color: #ffffff;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    text-align: start;
}

main {
    grid-column: 2/3;
}

button {
    border: none;
}

#h4 {
    color: #4384a7;
    ;
    font-size: 15px;
    text-align: start;
}

#h4pelis {
    color: #ffffff;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

.search i {
    font-size: 20px;
    color: #eee;
}

.search {
    display: flex;
    align-items: center;
    background: #121b24;
    width: 300px;
    height: 2.4rem;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

input {
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 17px;
}

#leermas button:hover {
    color: #ffffff;
}


#leermas {
    color: #4384a7;
}

#div2 {
    width: 300px;
    display: flex;
    gap: 5px;
}

/* series */
#h4series {
    color: #ffffff;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

#series {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

#leermas2 button:hover {
    color: #ffffff;
}


#leermas2 {
    color: #4384a7;
}

/* busqueda */
#resultados {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Trailer */

#buttonLook {
    background-color: #4384a7;
    width: 120px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    text-overflow: ellipsis;
    border-radius: 10px;
}

#h4Look {
    color: #fff;
    font-size: 17px;
    background-color: transparent;
}

/* trailer */
#divGeneralTrailer{
    display: none;
    
}